<div class="page-header"><h1>Complete trip- your feedback is our interest</h1></div>

<form #theForm="ngForm" (ngSubmit)="updateTrip(theForm)">
  <legend *ngIf="trip"><b>Task:</b> {{trip.tripType}} trip to {{trip.countryName}} from {{prettifyDate(trip.fromDate)}} to {{prettifyDate(trip.toDate)}}</legend>

  <div class="form-group">
    <div class="form-inline">
      <label class="control-label">Completed Date</label>
      <input type="date" id="completedDate" name="completedDate" ngModel required  >
    </div>
  </div>
  <div class="form-group">
    <div class="form-inline">
      <label class="control-label">Rating</label>
      <select #selectedValue class="form-control" name="tripRating" id="tripRating" ngModel>
        <option value="Excellent"> Excellent</option>
        <option value="Ok"> Ok</option>
        <option value="Poor"> Poor</option>
      </select>
    </div>
  </div>

  <button type="submit" [disabled]="!theForm.valid" class="btn btn-success">Submit</button>
</form>
